{% extends "base.html" %}

{% block title %}Add item{% endblock %}

{% block content %}
<h3 align="center">Add new item</h3>
<form method="POST" class="col-4 offset-md-4">
    <label for="url">URL</label>
    <div class="d-flex mb-2">
        <input type="text" id="url" name="url" class="form-control" placeholder="Item URL"/>
        <button type="button" class="btn btn-primary bi-search ms-2"></button>
    </div>
    <div class="d-flex" style="align-items:center;">
        <div class="border-top w-50 me-2"></div>
        OR
        <div class="border-top w-50 ms-2"></div>
    </div>
    <label for="item_name">Name</label>
    <input type="text" id="item_name" name="item_name" class="form-control mb-2" placeholder="New item"/>
    <label for="price">Price</label>
    <div class="input-group mb-2">
        <span class="input-group-text">$</span>
        <input type="text" id="price" name="price" class="form-control" placeholder="0.00">
    </div>
    <label for="categories">Categories (press [Space] to add tag)</label>
    <input type="text" id="categories" name="categories" style="display:none"/>
    <div class="tag-box">
        <ul class="border p-2 rounded" id="ul-tags">
            <input class="form-control-tag mx-1" type="text" placeholder="Category" onkeypress="addCategory(event)" onkeyup="checkInput(event)">
        </ul>
    </div>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% endblock %}