{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h3 align="center" class="mb-3">{{ user.username }}'s wishlist</h3>
<div class="col-6 offset-md-3">
    <div class="dropdown mb-2" align="right">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if filter == None %}All{% else %}{{ filter }}{% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{{ url_for('views.home') }}">All</a></li>
            {% for filter in filters %}
            <li><a class="dropdown-item" href="{{ url_for('views.home', filter=filter) }}">{{ filter }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <ul class="list-group mb-2" id="items">
        {% if items %}
            {% for item in items %}
            <li class="list-group-item justify-content-between d-flex" style="align-items:center;">
                <div class="d-inline-block" style="align-items:center;">
                    {{ item.name }} &middot; 
                    ${{ item.price}} &middot; 
                    <div class="d-inline-flex flex-wrap">
                    {% for category in item.categories %}
                    <span class="badge text-bg-light mx-1" style="height:20px;overflow:none;">{{ category.name }}</span>
                    {% endfor %}
                    </div>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-info bi-pencil mx-1" onclick="window.location.href='{{ url_for('views.edit_item', id=item.id) }}';"></button>
                    <button type="button" class="btn btn-danger bi-trash mx-1" onclick="deleteItem({{ item.id }})"></button>
                </div>
            </li>
            {% endfor %}
        {% else %}
        <li class="list-group-item justify-content-between d-flex" style="align-items:center;">
            <div class="d-flex" style="align-items:center;">
                No items to show.
            </div>
        </li>
        {% endif %}
    </ul>
    <div class="d-flex justify-content-between">
        <a type="submit" href="{{ url_for('views.add_item') }}" class="btn btn-primary" style="height:40px;">New item +</a>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class={% if page > 1 %}"page-item"{% else %}"page-item disabled"{% endif %}>
                    <a class="page-link" href="{{ url_for("views.home", page=page-1) }}">Previous</a>
                </li>
                {% if page > 1%}
                <li class="page-item"><a class="page-link" href="{{ url_for("views.home", page=page-1) }}">{{ page - 1 }}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
                {% if page < pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for("views.home", page=page+1) }}">{{ page + 1}}</a></li>
                {% endif %}
                <li class={% if page < pages %}"page-item"{% else %}"page-item disabled"{% endif %}>
                    <a class="page-link" href="{{ url_for("views.home", page=page+1) }}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}